<div class="container col-xxl-8 px-4 py-5">
	<div class="row @(ImageAlignment == "left" ? "" : "flex-lg-row-reverse") align-items-center g-5 py-5">
		<div class="col-10 col-sm-8 col-lg-6">
			<img src="@ImageUrl" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
		</div>
		<div class="col-lg-6">
			<h1 class="display-5 fw-bold lh-1 mb-3">@Title</h1>
			<p class="lead">@Text</p>
			@if (!string.IsNullOrEmpty(ButtonText))
			{
				<div class="d-grid gap-2 d-md-flex justify-content-md-start">
					<button type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2">@ButtonText</button>
				</div>
			}
		</div>
	</div>
</div>

@code {
	[Parameter] public string Title { get; set; }
	[Parameter] public string Text { get; set; }
	[Parameter] public string ImageUrl { get; set; }
	[Parameter] public string ImageAlignment { get; set; } = "left";
	[Parameter] public string ButtonText { get; set; }
}
